---
import Section from "@/components/Section.astro";
import { education, sideCourses } from '@cv';
---

<Section title="Educación">
    <ul>
    {
        education.map(({institution, area, startDate, endDate, courses, }) => {
            const startYear = new Date(startDate).getFullYear();
            const endYear = endDate != null ? new Date(endDate).getFullYear() : null;
            return (
                <li>
                    <article>
                        <header>
                            <div>
                                <h3>{institution}</h3>
                                <h4>{area}</h4>
                            </div>
                            <time>{startYear}{endYear != null ? ` - ${endYear}` : ''}</time>
                        </header>
                        <footer>
                            <p>
                                {
                                    courses.join(', ')
                                }
                            </p>
                        </footer>
                    </article>
                </li>
                
            )
        })
    }
    </ul>
</Section>

<Section class="side-courses" title=" Otros Cursos">
    <ul class="side-courses">
    {
        sideCourses.map(({course, author, url, time }) => {
            return (
                <a href={url}>
                <li>
                    <article>
                        <h3>{course} <span>( {time}h )</span></h3>
                        <h4> by {author}</h4>
                    </article>
                </li>
                </a>
            )
        })
    }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    li {
        break-inside: avoid;
    }

    ul.courses {
        gap: 4px;
    }
    article h3 {
        font-weight: 700;
        color: var(--h-color);
    }

    article h4 {
        font-weight: 500;
        color: var(--h2-color);
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }
    time {
        color: var(--time-color);
        font-size: 0.85rem;
    }

    footer p{
        color: var(--p-color);
        font-size: 0.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: pretty;
    }
    footer p::after {
        content : '.';
        padding: 0px;
        margin-left: -.8ch;
    }

    ul.side-courses {
        display: grid;
        grid-template-columns: repeat(
            auto-fit, 
            minmax(200px, 1fr)
        );
        row-gap: 4px;
        font-size: 0.8rem;
    }

    ul.side-courses h4 {
        color: var(--p-color);
    }
    a li {
        padding: 10px;
    }
    a:hover li {
        background: var(--hover-color);
        border-radius: 4px;
    }
    /* span {
        display: inline-block;
        break-inside: avoid;
    } */
</style>